@media screen and (max-width: 1300px) {
    .contact-item .icon span {
        font-size: 1rem;
    }
    .contact-item p span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .header-content .right-header {
        padding-right: 8rem;
    }
    .contact-container .contact-content {
        flex-direction: column;
        padding: 2rem;
    }
    .contact-item .icon span {
        font-size: 1.5rem;
    }
    .contact-item p span {
        font-size: 1.5rem;
    }
    .left-contact {
        margin-bottom: 2rem;
    }
    .contact-icon {
        justify-content: center;
    }
    .main-title h2 .bg-text {
        font-size: 5rem;
        line-height: 3rem;
    }
    .main-title h2 {
        font-size: 3rem;
    }
    .about-container .right-about .small-text::before {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .header-content {
        grid-template-columns: 1fr;
    }
    .header-content .right-header {
        padding: 3rem 5rem 3rem 3rem;
    }
    .about-container {
        grid-template-columns: 1fr;
    }
    .portfolio-item .hover-item .icon {
        margin: 0 0.2rem;
    }
    .blogs-container {
        grid-gap: 3rem;
        grid-template-columns: 1fr;
        padding: 2rem 0 6rem;
    }
    .contact-content .right-contact {
        margin-left: 0;
    }
    .contact-item .icon span {
        font-size: 1rem;
    }
    .contact-item p span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .right-contact .i-c-2 {
        flex-direction: column;
    }
    .hover-item h3 {
        font-size: 1rem;
    }
    .about-container .left-about {
        padding-right: 0;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 820px) {
    .portfolios {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .hover-item h3 {
        font-size: 1.5rem;
    }
    .section {
        padding: 2rem 6rem 2rem 2rem;
    }
}

@media screen and (max-width: 600px) {
    .contact-container .contact-content {
        padding: 2rem 0.5rem;
    }
    header {
        padding: 0;
    }
    .header-content .right-header {
        padding: 2rem 0.5rem;
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
    }
    .header-content .right-header .name {
        font-size: 2.5rem;
    }
    .header-content .left-header .image {
        width: 90%;
        margin: 0 auto;
    }
    .theme-btn {
        width: 50px;
        height: 50px;
    }
    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
    }
    .controls .control {
        margin: 1rem 0.3rem;
    }
    .header-content {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .about-container .left-about {
        padding-right: 0;
    }
    .about-container .left-about p {
        padding-left: 0;
    }
    .about-container .right-about {
        grid-template-columns: 1fr;
        padding-top: 2.5rem;
    }
    .section {
        padding: 2rem 1.5rem;
    }
    .timeline {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .about-stats .progress-bars {
        grid-template-columns: 1fr;
    }
    .port-text {
        padding: 4rem 0 0 0;
    }

    .contact-container {
        text-align: center;
        padding-bottom: 6rem;
    }
    .contact-content {
        flex-direction: column;
    }
    .contact-icon {
        justify-content: center;
    }
    .contact-content .left-contact {
        margin-bottom: 2rem;
    }

    .main-title h2 .bg-text{
        width: 100%;
        text-align: center;
        font-size: 5rem;
    }
    .main-title h2 {
        font-size: 3rem;
    }
    .timeline {
        margin-left: 1rem;
    }
    .timeline-item p {
        text-align: justify;
        padding-right: 1rem;
    }
    .contact-item p span {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .contact-container .contact-content {
        padding: 1rem 0;
    }
    .section {
        padding: 2rem 1.5rem;
    }
    .header-content .right-header {
        padding: 0;
        margin-bottom: 3rem;
    }
    .main-title {
        padding-top: 2rem;
    }
    .main-title h2 .bg-text{
        font-size: 4rem;
        line-height: 3rem;
    }
    .main-title h2 {
        font-size: 2rem;
    }
    .contact-item .icon span {
        font-size: 0.8rem;
    }
    .timeline .timeline-item {
        padding-left: 2rem;
    }
}
